---
import { Link, Image } from "@nextui-org/react";
import { color, motion } from "framer-motion";
---

<motion.section
  initial={{ opacity: 0, y: -30 }}
  whileInView={{ opacity: 1, y: 0 }}
  client:visible
  className="flex w-full items-center justify-center"
>
  <section
    class="flex flex-col w-full md:w-fit items-center justify-center md:flex md:flex-row gap-6 p-6 font-mono"
  >
    <Link className="flex flex-col items-center justify-center" href="/">
      <Image
        isBlurred
        src={"/assets/logos/big_logo.png"}
        width={150}
        height={50}
        className="flex max-[300px]:hidden opacity-100 cursor-pointer"
        radius="none"
      />
      <Image
        isBlurred
        src={"/assets/logos/isotype.png"}
        width={32}
        className="min-[300px]:hidden opacity-100 cursor-pointer"
        radius="none"
      />
    </Link>
    <section
      class="grid md:flex md:flex-row gap-3 md:gap-6 w-full"
      style="grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));"
    >
      {
        [
          {
            name: "EMAIL",
            link: "mailto:opiredev@gmail.com",
            color: "text-[#5cb248] hover:text-[#6bf1ba]",
          },
          {
            name: "REDDIT",
            link: "https://www.reddit.com/r/opire/",
            color: "text-[#df7109] hover:text-[#ffcc82]",
          },
          {
            name: "TWITTER",
            link: "https://twitter.com/opire_dev",
            color: "text-[#228cf1] hover:text-[#7ecef8]",
          },
          {
            name: "THREADS",
            link: "https://www.threads.net/@opiredev",
            color: "text-[#eee] hover:text-[#888]",
          },
          {
            name: "DISCORD",
            link: "https://discord.gg/jWwwsHRbnJ",
            color: "text-[#6374f3] hover:text-[#bda2f2]",
          },
          { name: "GITHUB", link: "https://github.com/Opire", color: "" },
          {
            name: "KOFI",
            link: "https://ko-fi.com/opire",
            color: "text-[#6acdb2] hover:text-[#75e1d4]",
          },
          { name: "PRIVACY POLICY", link: "/privacy-policy", color: "" },
        ].map((item, index) => {
          return (
            <Link
              key={item.name + "_" + index}
              client:visible
              href={item.link}
              target="_blank"
              className={`${item.color} w-full items-center justify-center hover:underline text-xs md:text-base text-center`}
            >
              {item.name}
            </Link>
          );
        })
      }
    </section>
  </section>
</motion.section>
