---
import OwnersAcordeon from "../components/owners/OwnersAcordeon";
import Layout from "../layouts/Layout.astro";
import { Button, Link, Image } from "@nextui-org/react";
---

<Layout title="Opire - For Owners">
  <main
    class="flex flex-col items-center justify-center margin-auto pt-24 pb-24 p-4 w-full text-white text-xl gap-32"
  >
    <section
      class="flex flex-col gap-6 items-center justify-center margin-auto w-full max-w-prose"
    >
      <Image
        client:visible
        src="assets/images/owners_00.png"
        isBlurred
        className="w-[128px] md:w-auto"
      />
      <div>
        <h1
          class="select-none absolute blur-3xl p-0 m-0 text-3xl md:text-5xl font-extrabold text-start bg-gradient-to-l from-[#12b886] to-[#1098ad] inline-block text-transparent bg-clip-text"
        >
          For Software Owners
        </h1>
        <h1
          class="bg-gradient-to-l from-[#12b886] to-[#1098ad] pb-2 p-0 m-0 text-2xl md:text-5xl text-center font-extrabold w-full text-transparent bg-clip-text"
        >
          For Software Owners
        </h1>
      </div>

      <p
        class="text-center text-slate-300 font-mono text-sm md:text-xl font-bold max-w-prose"
      >
        As a software owner you can use Opire to have a variety of benefits.
        <br />
        <br />

        You can earn a certain % of each reward that someone external adds to
        your project, in turn you have an easier time creating a community
        around your project or organization, as well as improving the quality
        and speed of the construction of your project.
        <br />
        <br />
        If you are looking for something to achieve any of the aforementioned objectives,
        Opire is for you.
      </p>
    </section>

    <section
      class="flex flex-col gap-6 items-center justify-center margin-auto w-full max-w-prose"
    >
      <h1
        class="bg-gradient-to-l from-slate-50 via-slate-200 to-slate-400 pb-2 p-0 m-0 text-2xl md:text-5xl text-center font-extrabold w-full text-transparent bg-clip-text"
      >
        Perks for Code Owners
      </h1>
      <p
        class="text-center text-slate-300 font-mono text-sm md:text-xl font-bold max-w-prose"
      >
        Using a rewards system can be a powerful way to incentivize
        contributions to your project, leading to a more vibrant, productive,
        and sustainable open-source community:
      </p>
      <OwnersAcordeon client:visible />
    </section>
    <section
      class="flex flex-col gap-6 items-center justify-center margin-auto w-full max-w-prose"
    >
      <h1
        class="bg-gradient-to-l from-slate-50 via-slate-200 to-slate-400 pb-2 p-0 m-0 text-2xl md:text-5xl text-center font-extrabold w-full text-transparent bg-clip-text"
      >
        Start Right Now
      </h1>
      <p
        class="text-center text-slate-300 font-mono text-sm md:text-xl font-bold max-w-prose"
      >
        To start using Opire as a code owner, below are a series of guidelines
        or steps to follow to start using Opire in your projects:
      </p>
      <OwnersAcordeon client:visible id={1} />
    </section>
    <section
      class="flex flex-col gap-6 items-center justify-center margin-auto w-full max-w-prose"
    >
      <h1
        class="bg-gradient-to-l from-slate-50 via-slate-200 to-slate-400 pb-2 p-0 m-0 text-2xl md:text-5xl text-center font-extrabold w-full text-transparent bg-clip-text"
      >
        Create new opportunities
      </h1>
      <p
        class="text-center text-slate-300 font-mono text-sm md:text-xl font-bold max-w-prose"
      >
        Explore, engage, and innovate while earning rewards for your
        contributions. Join us by installing our app in your github project.
        <br />
        <br />
        You can see more information in our documentation.
      </p>

      <section class="flex flex-col md:flex-row gap-2 p-4">
        <Button
          as={Link}
          href="https://app.opire.dev"
          variant="solid"
          color="primary"
          className="px-8 py-6 font-bold text-base font-mono uppercase"
        >
          APP
        </Button>
        <Button
          as={Link}
          href="https://docs.opire.dev/es/overview/introduction"
          variant="ghost"
          color="primary"
          className="px-8 py-6 font-bold text-base font-mono uppercase"
        >
          Documentation
        </Button>
      </section>
    </section>
  </main>
</Layout>
