---
import Headbar from "../components/shared/Headbar.astro";
import FAQ from "../components/faq/FAQ.astro";
import Socials from "../components/shared/Socials.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="With Opire, anyone can create rewards for open source projects and grow their community, while developers can solve issues and earn the associated rewards."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="dark bg-[#121212] bg-no-repeat bg-contain bg-top bg-[url('assets/images/top_bg.png')] w-full min-w-screen h-full min-h-screen font-sans"
  >
    <main class="bg-no-repeat bg-contain bg-bottom bg-[url('assets/images/bottom_bg.png')] w-full h-full p-0 m-0">
      <Headbar />
      <slot />
      <FAQ />
      <Socials />
    </main>
  </body>
</html>
